@font-face {
    font-family: 'ranjanalipi';
    src: url(fonts/ranjana.ttf);
}
@font-face {
    font-family: 'prachalit1';
    src: url(fonts/prachalit1.TTF);
}
@font-face {
    font-family: 'prachalit2';
    src: url(fonts/prachalit2.ttf);
}
@font-face {
    font-family: 'brahmi';
    src: url(fonts/bramhi.ttf);
}
:root{
    font-size: 62.5%;
    --primary-color: red;
    --secondary-color: rgb(20, 20, 20);
    --back-color: aliceblue;
}
*{
    margin: 0;      padding: 0;
    box-sizing: border-box;
}
body{
    background-color: white;

}


#logo{
    display: flex;
    height: 100%;
    align-items: center;
    font-size: 3.5rem;
    cursor: default;
    color: var(--secondary-color);
    text-shadow: .01em .01em .7em white;
    transition: var(--transition);
}
#headBar{
    position: fixed;
    top: 0;     left: 0;
    z-index: 90;
    width: 100vw;       height: 4rem;
    display: flex;
    justify-content: space-between;
    padding: 0 1em;
    background-color: rgba(0, 132, 255, 0.13);
}
#navbar{
    margin-right: 1rem;
    display: flex;
    align-items: center;        justify-content: center;
}
#navbar ul li{
    list-style: none;
    margin-left: 4rem;
    display: inline-block;
    font-size: 2.5rem;
    color: var(--secondary-color);
}
#navbar ul li.active{
    text-shadow: .01em .01em .8em white;
    cursor: default;
}
#navbar ul li a {
    color: var(--secondary-color);
    transition: var(--transition);
}
#navbar ul li:not(.active) :hover{
    color: var(--theme-color);
    font-weight: 500;
}
nav.sticky{
    background-color: var(--nav-background-color);
    transition: ease-out 0.5s;
}
#headBar.active #logo{
    display: none;
}
#headBar.sticky #logo{
    text-shadow: none;
}
/* button */
.menu-btn{
    display: none;
    cursor: pointer;
    transition: ease 0.3s;
}
.menu-btn .bar1, .bar2, .bar3{
    width: 3.5rem;      height: .5rem;
    background-color: var(--secondary-color);
    margin: .6rem 0;
    transition: ease-out 0.5s;
    border-radius: .5rem;
}
.menu-btn.change .bar1{
    transform: translateY(.5rem) rotate(-45deg) ;
}
.menu-btn.change .bar2{
    display: none;
}
.menu-btn.change .bar3{
    transform: translateY(-.5rem) rotate(45deg);
}

@media (max-width: 770px){
    #home #home-content{
        width: 55vw;
    }
    .menu-btn{
        display: inline;
    }
    #navbar{
        display: none;
    }
   
    #headBar.active{
        background-color: var(--back-color);
        height: 100vh;
        display: inline-block;
    }
    #headBar.active .menu-btn{
        position: absolute;
        top: 1rem;      right: 2rem;
    }
    #headBar.active #navbar{
        position: absolute;     
        top: 50%;       left: 50%;
        transform: translate(-50%, -50%);
        display: block;
    }
    #headBar.active #navbar ul.menu li{
        display: block;
        text-align: center;
        font-size: 1.8em;
        margin: .3em;
    }
}
.search-section{
    margin-top: 4rem;
    padding-top: 1.5em;
    display: flex;
    justify-content: center;
    background-color: var(--back-color);
}
.search-section input{
    height: 2.5em;
    width: 25em;
    padding-left: .5em;
}
.words{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--back-color);
    padding: .1em;
}

.box{
    background-color: rgb(213, 220, 226);
    width: 80vw;
    max-width: 65em;
    margin-top: 2rem;
    border: .2em black solid;
    border-radius: .3rem;
    box-shadow: 0px 4px 1em rgba(84, 123, 143, 0.493);
    padding-bottom: .7rem;
}

.newari-word{
    font-size: 4.5em;
    padding-left: .1em;
    font-family: 'ranjanalipi';
}
.type{
    font-size: 1.9em;
    font-style: italic;
    padding: 0 0 .1em .4em;
    color: rgba(66, 74, 80, 0.849);
    filter: blur(.3px);
}
.eng-nep{
    display: flex;
    justify-content: space-around;
    margin: .7em 0 .5em 0;
    width: 100%;
    text-align: center;
}
.prachalit1{
    font-family: 'prachalit1';
}
.prachalit2{
    font-family: 'prachalit2';
}
.brahmi{
    font-family: 'brahmi';
}
.nepali-word,.english-word{
    width: 100%;
    font-weight: 200;
}
.nepali-word{
    font-size: 2.7em;
    padding: 0;
    /* border-right: .1rem rgba(255, 255, 255, 0.8) solid ; */
    border-right: .1rem rgba(0, 0, 0, 0.8) solid ;
    /* border-top: 1px rgb(179, 197, 211) solid ; */
    /* box-shadow: -1px -4px 5px rgba(255, 255, 255, 0.288);
    box-shadow: 1px -4px 5px rgba(131, 123, 123, 0.123); */
}
.english-word{
    font-size: 2.2em;
    /* border-left: .1rem rgba(255, 255, 255, 0.8) solid ; */
    border-left: .1rem rgba(0, 0, 0, 0.8) solid ;
    /* border-bottom: 1px rgb(179, 197, 211) solid ; */
    /* box-shadow: 1px 4px 5px rgba(131, 123, 123, 0.123); */
}
.meaning,.example{
    margin-left: .3em;
    color: rgba(0, 0, 0, 0.910);
}
.meaning{
    font-size: 20px;
}
.example{
    font-size: 17px;
}

